@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 300ms ease-in-out;
  scroll-behavior: smooth;
  color: #E3B140;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Architects Daughter', cursive;
}
a {
  text-decoration: none;
  font-size: 2.5vmin;
}
h1 {
  font-size: 12vmin;
}
h2 {
  font-size: 10vmin;
}
h3 {
  font-size: 8vmin;
}
h4 {
  font-size: 6vmin;
}
h5 {
  font-size: 5vmin;
}
h6 {
  font-size: 4.5vmin;
}
p {
  font-size: 3.5vmin;
  color: gold;
}
header {
  width: 100%;
  height: 10vh;
  position: relative;
}
/* .company-logo {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logo img {
  max-height: 100%;
  max-width: 100%;
} */
nav {
  width: 100%;
  height: 100%;
}
nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  width: 80%;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  border-radius: 16px;
  padding: 4px;
}
nav ul li a:hover {
  background-color: #565656;
}
#hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0;
}
#hero img {
  height: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./src/assets/logo.png);
}
.hero-header {
  width: 80%;
  margin: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-header h4 {
  font-weight: 200;
  margin: 16px;
}
.hero-header a {
  width: 45%;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(86, 86, 86, 0.75);
  border: 0.25vmin solid #E3B140;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}
.hero-header a:hover {
  color: #565656;
  background-color: #E3B140;
}
#services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
}
#services h2 {
  margin: 32px;
}
#services .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.service {
  margin: 16px 8px;
  padding: 8px;
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 0.25vmin solid #565656;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #565656;
}
@media screen and (max-width: 767px) {
  .service {
    flex: 0 0 100%;
  }
}
.service img {
  height: 200px;
  width: auto;
  max-width: 95%;
  background-size: cover;
  background-repeat: no-repeat;
}
.service h4,
.service h6,
.service p {
  margin: 8px;
}
.service h4 {
  font-weight: 600;
  text-transform: uppercase;
}
.service h6 {
  font-weight: 600;
  text-align: center;
}
.service p {
  text-align: center;
  font-weight: 200;
  padding: 4px 32px;
}
.service a {
  margin: 32px;
  padding: 16px 32px;
  border: 0.25vmin solid #E3B140;
  border-radius: 16px;
}
.service a:hover {
  border: 0.25vmin solid #565656;
  background-color: #E3B140;
  color: #565656;
}
#about {
  width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about h1 {
  color: #565656;
  font-weight: 700;
  margin: 32px;
}
#about h2,
#about h3,
#about h4,
#about h5,
#about h6,
#about p {
  text-align: center;
}
#about h2 {
  margin: 16px;
}
#about h2 span {
  font-weight: 900;
}
#about p {
  width: 60%;
  text-align: center;
  margin: 32px 0px;
}
#about .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.individual {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px;
  padding: 16px;
  border: 0.25vmin solid #565656;
  border-radius: 8px;
}
.individual img {
  height: 200px;
}
.individual-socials-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.individual-socials-container a {
  text-decoration: none;
  padding: 4px;
  font-size: 4vmin;
}
.individual-socials-container i:hover {
  color: #565656;
}
@media screen and (max-width: 767px) {
  .individual {
    flex: 0 0 100%;
  }
  .individual-socials-container a {
    font-size: 8vmin;
  }
}
#gallery {
  width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gallery h2 {
  margin: 32px 0;
}
#gallery .container {
  width: 90%;
  max-height: 75vmin;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mySlide {
  display: none;
  height: 400px;
}
@media screen and (max-width: 767px) {
  .mySlide {
    height: 200px;
  }
}
.mySlide img {
  height: 100%;
}
.mySlide.active {
  display: block;
}
.gallery-action-container {
  width: 100%;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
}
.prev,
.next {
  cursor: pointer;
  padding: 16px;
  font-weight: 900;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover,
.next:hover {
  background-color: rgba(86, 86, 86, 0.25);
}
.next {
  border-radius: 3px 0 0 3px;
}
.numberText {
  padding: 8px 12px;
  position: absolute;
}
.caption-container {
  text-align: center;
  padding: 2px 16px;
  margin: 16px;
}
.demo-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 32px;
}
.demo {
  width: auto;
  max-height: 200px;
  opacity: 0.4;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .demo {
    max-height: 100px;
  }
}
.active,
.demo:hover {
  opacity: 1;
}
#testimonials {
  width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonials h2 {
  padding: 32px;
}
#testimonials .container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.testimonial {
  padding: 32px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testimonial p {
  margin: 32px;
}
.testimonial span,
.testimonial h6 {
  font-weight: 900;
}
#contact {
  width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact h2 {
  margin: 32px;
}
#contact p {
  text-align: center;
}
#contact p a {
  text-decoration: none;
  padding: 4px;
  font-size: 3.5vmin;
  font-weight: 700;
}
#contact .container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-container form {
    width: 100%;
  }
}
form {
  width: 50%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  width: 100%;
  margin: 8px;
}
.input-container input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-width: 0 0 1px 0;
  border-color: #E3B140;
  border-style: solid;
  padding: 4px;
  color: #000000;
}
.input-container input[type='text-area'] {
  min-height: 100px;
}
.input-container input[type='submit'] {
  max-width: 50%;
  margin: 32px 0;
  padding: 4px;
  background-color: #565656;
  color: #E3B140;
  border: 1px solid #E3B140;
  border-radius: 8px;
  font-weight: 900;
}
.input-container input[type='submit']:hover {
  color: #565656;
  background-color: #E3B140;
}
.opening-times {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opening-times .day {
  padding: 4px;
  letter-spacing: 1.5px;
}
#cta {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E3B140;
}
.cta-container {
  padding: 32px;
}
.cta-container a {
  color: #565656;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 8px;
}
.cta-container a:hover {
  color: #E3B140;
  background-color: #565656;
}
#footer {
  width: 100%;
}
#footer .container {
  width: 100%;
  height: 5vh;
  margin-bottom: 10vh;
  background-color: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .container p {
  color: #E3B140;
  text-transform: uppercase;
  padding: 8px;
  font-size: 1.5vmin;
}